---
import { AutocompleteOverviewExample } from "./autocomplete-overview-example";
---

<div class="material-example material-example-autocomplete">
  <AutocompleteOverviewExample client:load />
</div>
