---
import { ProgressSpinnerOverviewExample } from "./progress-spinner-overview-example";
---

<div class="material-example material-example-progress-spinner">
  <ProgressSpinnerOverviewExample client:load />
</div>
