---
import { SlideToggleOverviewExample } from "./slide-toggle-overview-example";
---

<div class="material-example material-example-slide-toggle">
  <SlideToggleOverviewExample client:load />
</div>
