---
import { ProgressBarDeterminateExample } from "./progress-bar-determinate-example";
---

<div class="material-example material-example-progress-bar">
  <ProgressBarDeterminateExample client:load />
</div>
