---
import { SITE_TITLE } from "@/site-config";
import { SiteSearchTriggerComponent } from "@/components/search/site-search.component";
import { ThemeSwitcherComponent } from "./theme-switcher.component";
---

<header class="site-header">
  <h2 class="site-header-title">
    <a href="/" class="header-link" aria-label={SITE_TITLE}>
      {SITE_TITLE}
    </a>
  </h2>

  <div class="site-header-actions">
    <SiteSearchTriggerComponent client:load />
    <ThemeSwitcherComponent client:idle />
  </div>
</header>
