---
import { BottomSheetOverviewExample } from "./bottom-sheet-overview-example";
---

<div class="material-example material-example-bottom-sheet">
  <BottomSheetOverviewExample client:load />
</div>
