---
import { ButtonToggleOverviewExample } from "./button-toggle-overview-example";
---

<div class="material-example material-example-button-toggle">
  <ButtonToggleOverviewExample client:load />
</div>
