---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
---
<div id="cc-container"></div>
<script type="module">
  import { run } from 'vanilla-cookieconsent';
  import { config } from './CookieConsentConfig';
  run(config);
</script>
